attr==0.3.2
bpython==0.25
brotli==1.1.0
brotlicffi==1.1.0.0
chardet==5.2.0
colorama==0.4.6
ConfigParser==7.2.0
coreschema==0.0.4
cryptography==44.0.2
cx_Oracle==8.3.0
docutils==0.21.2
environ==1.0
filelock==3.17.0
h2==4.2.0
HTMLParser==0.0.2
inflection==0.5.1
ipdb==0.13.13
ipython==9.0.2
ipywidgets==8.1.5
jnius==1.1.0
keyring==25.6.0
Markdown==3.7
MySQL-python==1.2.5
numpy==2.2.3
oracledb==3.0.0
Pillow==11.1.0
protobuf==6.30.0
psycopg==3.2.5
psycopg_pool==3.2.6
pylibmc==1.6.3
pymemcache==4.0.0
pyodide==0.0.2
pyOpenSSL==25.0.0
pytz==2025.1
pywatchman==2.0.0
PyYAML==6.0.2
rest_framework_simplejwt==0.0.2
simplejson==3.20.1
Sphinx==8.2.3
tblib==3.0.0
thread==2.0.5
uritemplate==4.1.1
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
zstandard==0.23.0
